/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
@import url('./btn.css');
@import url('./text.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');
@import url('./footer.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fefefe;
  color: #2c2c2c;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}
.hiden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
